<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    {% block head %}
    <title>Just Gym</title>
    {% endblock %}

    <link rel="stylesheet" href="/style.css">

</head>
<body>
   <div class="container">
    <header>
        <div class="links">
            <h1>Just Gym</h1>
            <div class="links-page">
            <a href="/instructors">Instrutores</a>
            <a href="/members">Membros</a>
            </div>
        </div>
    </header>
    </div>
    
    {% block content %} {% endblock %}

</body>
</html>